@model Notebook1
@{
	ViewData["Title"] = "First Key";
}


<div class="text-center">
	<h1 class="display-4">@ViewData["Title"]<img src="~/images/key1.png" alt="Key icon" /></h1>
	<img src="~/images/notebook1v4.jpg" alt="Notebook I riddle" />
	<p> Long time ago, sailing was going into the unknown...</p><br />
	

	<div class="row">
		<div class="col-6"></div>

		<div class="card">



			<div class="card-header">
				<h1>???</h1>
			</div>
			<div class="card-body">
				<form asp-controller="Game" asp-action="CheckNotebook1" method="post">
					<div>
						<label class="form-label">Country</label>
						<input asp-for="Country" type="text" />
						
						

					</div>
					<div>
						<label class="form-label">Password</label>
						<input asp-for=Password1 type="text" />
						
					</div>



					<div><button type="submit" class="btn btn-outline-warning">Check answers</button></div>
				</form>
			</div>
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
							<h3>Tip #1</h3> 
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
						<div class="accordion-body">
							Password is the name of indigenous people of certain country.<br />
							Great sailors of the past <br />
							Country is that country.
							
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							<h3>Tip #2</h3> &nbsp;&nbsp; Reveal if still lost after tip #1
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
						<div class="accordion-body">
							Polynesia (tip for both password - indigenous people name and country)
						</div>
					</div>
				</div>
				
					</div>
				</div>
			</div>
			<div class="class-footer">
	
			<br />
			<button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Index", "Game")'">BACK</button>
		</div>
		</div>
		<div class="class-footer">
	
			


	</div>

		
	




