@model Notebook3
@{
	ViewData["Title"] = "Treasure Chest";
}


<div class="text-center">
	<h1 class="display-4">@ViewData["Title"]<img src="~/images/chest.png" alt="Placeholder" /></h1>

	<img src="~/images/notebook3.jpg" alt="Placeholder" />
	<p>Can a story be a treasure?<p /><br />

	<div class="row">
		<div class="col-6"></div>

		<div class="card">


			<div class="card-header">
				<h1>???</h1>
			</div>
			<div class="card-body">
				<form asp-controller="Game" asp-action="Treasure" method="post">
				
					<div>
						<label class="form-label">Country</label>
						<input asp-for="Country" type="text" />
					</div>
					<div>
						<label class="form-label">Password 1</label>
						<input asp-for="Password1" type="text" />
					</div>
					<div>
						<label class="form-label">Password 2</label>
						<input asp-for="Password2" type="text" />
					</div>
					<div><button class="btn btn-outline-warning">Checks answers</button></div>
				</form>
			</div>

		</div>
		<div class="class-footer">
			<br />
			<button type="button" class="btn btn-outline-dark" onclick="location.href='@Url.Action("Index", "Game")'">BACK</button>
		</div>

	</div>
</div>