@{
    ViewData["Title"] = "Pipes by Etgar Keret";
}
<div class="text-center">
    <h1>@ViewData["Title"]<img src="~/images/book.png" alt="Book icon" /></h1>

<hr /><br />
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <strong>Read more about the Treasure you have discovered!</strong>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body">
                <strong>Pipes is a short story that can be found in Israeli writer Etgar Keret’s collection
                    The Bus Driver Who Wanted to be God and Other Stories.<br /> The collection discusses many significant issues such as love, death, morality and the meaning of life,
                    but examines them in a light-hearted and occasionally irreverent way.<br />
                    Books, poems, short stories that  you connect with are small treasures in the
                    world of literature.
                </strong>
            </div>
        </div>
    </div><br /><hr />
    
   
<p>
    When I got to seventh grade, they had a psychologist come to school and put us through a bunch of adjustment tests.<br>
    He showed me twenty different flashcards, one by one, and asked me what was wrong with the pictures.<br>
    They all seemed fine to me, but he insisted and showed me the first picture again—the one with the kid in it.<br>
    “What’s wrong with this picture?” he asked in a tired voice. I told him the picture seemed fine.<br>
    He got really mad and said, “Can’t you see the boy in the picture doesn’t have any ears?”<br>
    The truth is that when I looked at the picture again, I did see that the kid had no ears.<br>
    But the picture still seemed fine to me. The psychologist classed me as “suffering from severe perceptual disorders,” and had me transferred to carpentry school.<br>
    When I got there, it turned out I was allergic to sawdust, so they transferred me to metalworking class. I was pretty good at it, but I didn’t really enjoy it.<br>
    To tell the truth, I didn’t really enjoy anything in particular. When I finished school, I started working in a factory that made pipes.<br>
    My boss was an engineer with a diploma from a top technical college. A brilliant guy. <br>
    If you showed him a picture of a kid without ears or something like that, he’d figure it out in no time.<br>
    After work I’d stay on at the factory and make myself odd-shaped pipes, winding ones that looked like curled-up snakes, and I’d roll marbles through them.<br>
    I know it sounds like a dumb thing to do, and I didn’t even enjoy it, but I went on doing it anyway.<br>
    One night I made a pipe that was really complicated, with lots of twists and turns in it, and when I rolled a marble in, it didn’t come out at the other end.<br>
    At first I thought it was just stuck in the middle, but after I tried it with about twenty more marbles,<br>
    I realized they were simply disappearing. I know that everything I say sounds kind of stupid.<br>
    I mean everyone knows that marbles don’t just disappear, but when I saw the marbles go in at one end of the pipe and not come out at the other end,<br>
    it didn’t even strike me as strange. It seemed perfectly ok actually.<br>
    That was when I decided to make myself a bigger pipe, in the same shape, and to crawl into it until I disappeared.<br>
    When the idea came to me, I was so happy that I started laughing out loud. I think it was the first time in my entire life that I laughed.<br>
    From that day on, I worked on my giant pipe. Every evening I’d work on it, and in the morning I’d hide the parts in the storeroom.<br>
    It took me twenty days to finish making it. On the last night it took me five hours to assemble it, and it took up about half the shop floor.<br>

    When I saw it all in one piece, waiting for me, I remembered my social studies teacher who said once that the first human being to use a club<br>
    wasn’t the strongest person in his tribe or the smartest. It’s just that the others didn’t need a club, while he did. He needed a club more than anyone,<br>
    to survive and to make up for being weak. I don’t think there was another human being in the whole world who wanted to disappear more than I did,<br>
    and that’s why it was me that invented the pipe. Me and not that brilliant engineer with his technical college degree who runs the factory.<br>

    I started crawling inside the pipe, with no idea about what to expect at the other end.<br>
    Maybe there would be kids there without ears, sitting on mounds of marbles. Could be.<br>
    I don’t know exactly what happened after I passed a certain point in the pipe. All I know is that I’m here.<br>

    I think I’m an angel now. I mean, I’ve got wings, and this circle over my head and there are hundreds more here like me.<br>
    When I got here they were sitting around playing with the marbles I’d rolled through the pipe a few weeks earlier.<br>

    I always used to think that Heaven is a place for people who’ve spent their whole life being good, but it isn’t.<br>
    God is too merciful and kind to make a decision like that. Heaven is simply a place for people who were genuinely unable to be happy on earth.<br>
    They told me here that people who kill themselves return to live their life all over again,<br>
    because the fact that they didn’t like it the first time doesn’t mean they won’t fit in the second time.<br>
    But the ones who really don’t fit in the world wind up here. They each have their own way of getting to heaven.<br>

    There are pilots who got here by performing a loop at one precise point in the Bermuda Triangle.<br>
    There are housewives who went through the back of their kitchen cabinets to get here, and mathematicians who found<br>
    topological distortions in space and had to squeeze through them to get here. So if you’re really unhappy down there, <br>
    and if all kinds of people are telling you that you’re suffering from severe perceptual disorders, look for your own way of getting here,<br>
    and when you find it, could you please bring some cards,<br>
    cause we’re getting pretty tired of the marbles.<br>
</p>
        <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Index", "Home")'">BACK TO HOME</button><br />
</div>
