@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Armchair Treasure Hunt</h1>
	<img src="images/welcome_v_5.jpg" alt="Welcome notebook with information" />
	<p>What is  <a href="https://en-academic.com/dic.nsf/enwiki/984957">Armchair Treasure Hunt?</a>.</p>
</div>
